[mysqld]                          
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
pid-file=/var/lib/mysql/mysqld.pid
tmpdir=/tmp-db

max_binlog_files = 7
read_only = 1
skip-slave-start=1                
binlog-ignore-db=test             
replicate-ignore-db=test          
skip-symbolic-links
expire_logs_days=2

skip-name-resolve  

tmp_table_size=1024M
max_tmp_tables=40

long_query_time=5
slow-query-log-file  = /var/log/mysql/slow.log
slow_query_log=1

server-id = 120
relay-log = /var/log/mysql/relay/log
relay-log-index = /var/log/mysql/relay.index
log_err = /var/log/mysql/error.log
log_bin = /var/log/mysql/binary.log
log_bin_trust_function_creators = 1
log_slave_updates

replicate-ignore-db = 'test information_schema'
